<div class="card">
  <%= link_to wishlists_path, method: :get do %>
    <%= image_tag wishlist.image.variant(resize: '300x300'), class: :card__img if wishlist.image.attached? %>
  <% end %>
  <div class="card__body">
    <%= link_to wishlist.name, wishlist_path(wishlist.id), method: :get, class: :card__title %>
    <p class="card__summary">
      <%= wishlist.memo %>
    </p>
    <p class="card__summary">
      ¥<%= wishlist.price %>
    </p>
    <%= link_to "by#{current_user.nickname}", root_path, class: :card__user %>
  </div>
</div>
